@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Noto+Serif+KR:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Noto Serif KR', '42dot Sans';
  color: var(--foreground);
  background: var(--background);
}
